$primary-background: #121212;
// $primary-background: #ffffff;
// $primary-offset-background: #e8f1fb;

$primary-offset-background: #1e1e1e;
$primary-color: #ba68c8;
$color-white: #ffffff;
// $color-white: #121212;
$input-text-background: #121212;
$sidenav-text-color: #818181;
$sidenav-text-hover-color: #f1f1f1;
$sidenav-text-hover-bg: #ffffff08;
$topnav-text-color: #f2f2f2;
$input-text-color: #020202;
