@import "../../../styles/_functions";
@import "../../../styles/_variable";

.login__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .login {
    height: toRem(400);
    width: toRem(500);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-offset-background;
    flex-direction: column;
  }
}

:host ::ng-deep .p-inputtext {
  background-color: $input-text-background !important;
}

.login__btn {
  margin-top: toRem(10);
  width: 87%;
}
p,
a {
  color: $color-white;
  text-decoration: none;
}

.item__top {
  i {
    font-size: toRem(25);
  }
  font-size: toRem(25);
  margin-bottom: toRem(20);
  color: $color-white;
}
